@font-face {
	font-family: "Roboto Mono";
	src: url("roboto/webfonts/roboto-mono-latin-500-normal.woff") format("woff");
	font-weight: bold;
}

@font-face {
	font-family: "Roboto Mono";
	src: url("roboto/webfonts/roboto-mono-latin-400-normal.woff") format("woff");
}

:root {
	--bg: #202020;
}

* {
	margin: 0;
	padding: 0
}

h1, p {
	margin: 0.67em 0
}

p {
	font-size: 16px
}

body {
	background-color: var(--bg);
	color: white;
	font-family: "Roboto Mono"
}

.main_wrapper {
	position: absolute;
	top: 85%;
	width: 100%;
}

nav {
	z-index: 1000;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg);
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.2em
}

nav a {
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 1.3em
}

.bg {
	margin: 0;
	overflow: hidden;
	width: 100%;
	height: 80%;
	position: absolute;
	top: 0;
	left: 0;
}

.bigtext-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
}

.bigtext-wrapper * {
	font-size: 3em
}

.section-bgimg {
	mix-blend-mode: normal;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -100
}

.animated {
	overflow: hidden
}

.animated > h1 {
	display: block;
	height: 100%;
	margin: 0;
	white-space: nowrap;
	width: 100%;
	transform: translateX(-180%);
	animation: scroll 9s linear infinite;
}

.main {
	max-width: 65em;
	margin: auto;
	padding: 1em;
	word-wrap: break-word;
	font-weight: bold;
}

.main > * {
	color: #FFFFFF
}

@keyframes scroll {
	to {
		transform: translateX(180%)
	}
}
